/* customização aplicada a todos os elementos da página */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open_sansbold", 'Open Sans', Arial, Helvetica, sans-serif;
}

/* customização do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #17882c;
}

.logoIF {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.logoIF img {
    width: 70px;
    height: 70px;
}

.menu {
    width: 50%;
}

.topnav {
    display: flex;
    justify-content: space-around;
}

.topnav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.topnav a:hover {
    color: yellow;
    text-decoration: underline;
}

/* customização do corpo da página */

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: #2c66ce;
}

.grafico {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#grafico {
    width: 500px;
    height: 250px;
    border: 2px solid;
    border-color: black;
}

.botoes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.botoes input {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: #cccccc;
    cursor: pointer;
    margin-top: 5px;
}

.botoes input:hover{
    box-shadow: 0px 15px 20px rgba(154,205,50, 0.4);
    transform: translateY(-7px);
}

/* customização do rodapé */

.rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #17882c;
    color: white;
    margin-top: 40px;
}

/* Aplicando responsividade de acordo com tamanho da tela */

@media screen and (max-width: 1300px) {
    
    .logoIF h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1100px) {

    .logoIF h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {

    .logoIF h1 {
        font-size: 15px;
    }

    .topnav a{
        font-size: 13px;    
    }

    .titulo h1{
        font-size: 25px;        
    }
}

@media screen and (max-width: 600px) {

    .titulo h1{
        font-size: 20px;        
    }    

    .logoIF{
        width: 150%;
    }

    .menu{
        width: 40%;
    }

    .topnav {
        flex-direction: column; 
        justify-content: center; 
        align-items: center;    
    }

    .topnav a{
        font-size: 16px;   
        padding-bottom: 4px; 
    }

    #grafico {
        width: 400px;        
    }

    @media screen and (max-width: 450px) {  
        
        .titulo h1{
            font-size: 15px;        
        }  

        #grafico {
            width: 300px;        
        }   
    }

    @media screen and (max-width: 415px) {  
        
        .logoIF img{
            display: none;  
        }  

        .titulo h1{
            text-align: center;    
        }  

        #grafico {
            width: 250px;        
        }         
    }
}